    <!-- partials/success_message.html -->
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p class="text-success">Question created successfully!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="add-another-question" type="button" class="btn btn-primary" >Add another question</button>
        <script> 
            $(document).ready(function() {
                $('#add-another-question').on('click', function() {
                    $('#questionModal').modal('hide');
                    setTimeout(function() {
                        $('#add-question-btn').click();
                    }, 400); 
                }); 
            });
            </script>
    </div>
