{% extends "base.html" %}
{% block title %}
    Quiz List
{% endblock title %}
{% block content %}
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">Simple Tables</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Simple Tables</li>
                    </ol>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with default features</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="input-group mb-3 w-50">
                                            <button class="btn btn-outline-secondary" type="button">Button</button>
                                            <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                                              <option selected>Choose...</option>
                                              <option value="1">One</option>
                                              <option value="2">Two</option>
                                              <option value="3">Three</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="example1_filter" class="dataTables_filter">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                                                <input type="text"
                                                class="form-control"
                                                placeholder="Search"
                                                aria-label="Search"
                                                aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1"
                                               class="table table-bordered table-striped dataTable dtr-inline"
                                               aria-describedby="example1_info">
                                            <thead>
                                                <tr>
                                                    <th class="sorting sorting_asc"
                                                        tabindex="0"
                                                        aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending">
                                                        Title
                                                    </th>
                                                    <th class="sorting"
                                                        tabindex="0"
                                                        aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Browser: activate to sort column ascending">
                                                        Status
                                                    </th>
                                                    <th class="sorting"
                                                        tabindex="0"
                                                        aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Engine version: activate to sort column ascending">
                                                        Number of questions
                                                    </th>
                                                    <th class="sorting"
                                                        tabindex="0"
                                                        aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Time
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                {% for quiz in quizzes %}
                                                    
                                                
                                                <tr class=" {% cycle odd even %}">
                                                    <td class="sorting_1 dtr-control" tabindex="0">
                                                        <a href="{% url "quiz:teacher_quiz_update" quiz.id %}"> {{ quiz.title }}</a>
                                                    </td>
                                                    <td>{{ quiz.status }}</td>
                                                    <td>{{ quiz.number_of_questions }}</td>
                                                    <td>{{ quiz.time }}</td>
                                                    <td>
                                                        C/A<sup>1</sup>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info"
                                             id="example1_info"
                                             role="status"
                                             aria-live="polite">Showing 41 to 50 of 57 entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="example1_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous" id="example1_previous">
                                                    <a href="#"
                                                       aria-controls="example1"
                                                       data-dt-idx="0"
                                                       tabindex="0"
                                                       class="page-link">Previous</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#"
                                                       aria-controls="example1"
                                                       data-dt-idx="1"
                                                       tabindex="0"
                                                       class="page-link">1</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#"
                                                       aria-controls="example1"
                                                       data-dt-idx="2"
                                                       tabindex="0"
                                                       class="page-link">2</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#"
                                                       aria-controls="example1"
                                                       data-dt-idx="3"
                                                       tabindex="0"
                                                       class="page-link">3</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#"
                                                       aria-controls="example1"
                                                       data-dt-idx="4"
                                                       tabindex="0"
                                                       class="page-link">4</a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#"
                                                       aria-controls="example1"
                                                       data-dt-idx="5"
                                                       tabindex="0"
                                                       class="page-link">5</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#"
                                                       aria-controls="example1"
                                                       data-dt-idx="6"
                                                       tabindex="0"
                                                       class="page-link">6</a>
                                                </li>
                                                <li class="paginate_button page-item next" id="example1_next">
                                                    <a href="#"
                                                       aria-controls="example1"
                                                       data-dt-idx="7"
                                                       tabindex="0"
                                                       class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock content %}
