<table id="example2"
       class="table table-bordered"
       aria-describedby="example2_info">
    <thead>
        <tr>
            <th class="sorting sorting_asc"
                tabindex="0"
                aria-controls="example2"
                rowspan="1"
                colspan="1"
                aria-sort="ascending"
                aria-label="Rendering engine: activate to sort column descending">Text</th>
            <th class="sorting"
                tabindex="0"
                aria-controls="example2"
                rowspan="1"
                colspan="1"
                aria-label="Browser: activate to sort column ascending">Answer</th>
            <th class="sorting"
                tabindex="0"
                aria-controls="example2"
                rowspan="1"
                colspan="1"
                aria-label="Platform(s): activate to sort column ascending">Score</th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td  tabindex="0">
                    <a href="#"
                        hx-get="{% url "quiz:edit-question" quiz_id question.id %}"
                        hx-target="#htmx-modal .modal-content"
                        hx-swap="innerHTML"
                        data-bs-toggle="modal"
                        data-bs-target="#htmx-modal"
                        >
                        {{ question.text }}
                </a>
                </td>
                <td>{{ question.answer }}s</td>
                <td>{{ question.score }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
