<table id="example2"
       class="table table-bordered table-hover dataTable dtr-inline"
       aria-describedby="example2_info">
    <thead>
        <tr>
            <th class="sorting sorting_asc"
                tabindex="0"
                aria-controls="example2"
                rowspan="1"
                colspan="1"
                aria-sort="ascending"
                aria-label="Rendering engine: activate to sort column descending">Text</th>
            <th class="sorting"
                tabindex="0"
                aria-controls="example2"
                rowspan="1"
                colspan="1"
                aria-label="Browser: activate to sort column ascending">Answer</th>
            <th class="sorting"
                tabindex="0"
                aria-controls="example2"
                rowspan="1"
                colspan="1"
                aria-label="Platform(s): activate to sort column ascending">Score</th>
            <th class="sorting"
                tabindex="0"
                aria-controls="example2"
                rowspan="1"
                colspan="1"
                aria-label="Engine version: activate to sort column ascending">Difficulty Level</th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="dtr-control sorting_1" tabindex="0">{{ question.text }}</td>
                <td>{{ question.answer }}s</td>
                <td>{{ question.score }}</td>
                <td>{{ quesiton.difficulty_level }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
