<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="nature, wildlife, photography, environment, animals, plants">
    <meta name="description" content="This is a sample web page about the wonders of nature. Explore stunning photos and learn interesting facts about the natural world.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include "users/nav.html" %}
    {% block content %}
    
    {% endblock content %}

<p>hey</p>
</body>
</html>