{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        {% include "include/head_styles.html" %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary app-loaded sidebar-collapse">

        <div class="app-wrapper">
            {% include "include/header.html" %}
            {% include "include/sidebar.html" %}

            <main class="app-main">
                {% block content %}
                {% endblock content %}
            </main>
        </div>

        {% include "include/head_scripts.html" %}

    </body>
</html>
