{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        {% include "include/head_styles.html" %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="sidebar-mini sidebar-collapse">

        <div class="wrapper">
            <!-- Navbar -->
            {% include "include/header.html" %}
            <!-- Sidebar -->
            {% include "include/sidebar.html" %}
            <!--+Content+Wrapper.+Contains+page+content+-->
            <div class="content-wrapper">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        {% include "include/head_scripts.html" %}
        <!-- Page specific script -->
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
    </body>
</html>
