{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        {% include "include/head_styles.html" %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="sidebar-mini sidebar-collapse">

        <div class="wrapper">
            <!-- Navbar -->
            {% include "include/header.html" %}
            <!-- Sidebar -->
            {% include "include/sidebar.html" %}
            <!--+Content+Wrapper.+Contains+page+content+-->

            <div id="htmx-content-block" class="content-wrapper p-3">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        {% include "include/head_scripts.html" %}
    </body>
</html>
